.baratheon {
  background-color: #fbd46d;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: "Merriweather", serif;
  padding-bottom: 5vh;
}

.baratheon-logo {
  padding: 5vh 0 5vh 0;
  width: 35vw;
  border-radius: 5%;
}

p {
  text-align: center;
}

.baratheon-summary {
  margin: 2vh 20vw 2vh 20vw;
}

.baratheon-quote {
  margin: 2vh 20vw 2vh 20vw;
}
