.baratheon {
    background-color: #fbd46d;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

p {
    text-align: center;
}

.baratheon-summary {
    margin: 2vh 20vw 2vh 20vw;
}

.baratheon-quote {
    margin: 2vh 20vw 2vh 20vw;
}