.tyrell {
  background-color: #ade498;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: "Merriweather", serif;
  padding-bottom: 5vh;
}

.tyrell-logo {
  padding: 5vh 0 5vh 0;
  width: 35vw;
  border-radius: 5%;
}

.tyrell-summary {
  margin: 2vh 20vw 2vh 20vw;
}

.tyrell-quote {
  margin: 2vh 20vw 2vh 20vw;
}
