.App {
  text-align: center;
}

body {
  background-color: #ebebeb;
  margin: 5vh;
}



.navbar-custom {
background-color: white;
}

.stark-logo {
  padding: 5vh 0 5vh 0;
  width: 35vw;
  border-radius: 5%;
}