* {
  margin: 0;
}

.App {
  text-align: center;
}

.navbar-custom {
background-color: white;
}

/* House stark */

.stark {
    background-color: #ebebeb;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.stark-logo {
  padding: 5vh 0 5vh 0;
  width: 35vw;
  border-radius: 5%;
}

